# Ignore Terraform state files, logs and secrets
*.tfstate
*.tfstate.backup
*.backup
terraform.tfplan
*.tfvars
*.lock.info
*.lock.hcl
crash.log

# Ignore Terraform working directory
.terraform/

# Ignore local build artifacts for Lambda
lambda.zip

# Optional: Ignore Python __pycache__ and compiled files
__pycache__/
*.pyc

# Optional: Editor files
.vscode/
.idea/
.DS_Store
*.swp
